<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=CaronaApp;Persist Security Info=True;User ID=carona-app;Password=_J9lm9n7;MultipleActiveResultSets=True;App=EntityFramework"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <modules>
      <!--Removed by me. I don't know what this module is, but removing it let me accept PUT and DELETE in my web server (Rave Host/Plesk)-->
      <remove name="WebDAVModule" xdt:Transform="Insert" />
    </modules>
    <handlers>
      <!--Removed by me. I don't know what this handle is, but removing it let me accept PUT and DELETE in my web server (Rave Host/Plesk)-->
      <remove name="WebDAV" xdt:Transform="Insert" />
    </handlers>
  </system.webServer>
</configuration>
